@import url('https://fonts.googleapis.com/css2?family=Mirza&family=Lexend&display=swap');
body{
    margin: 0;
}
*{
    font-family: "Lexend", sans-serif;
}
.warn{
  color: red;
}
body{
  background: #31df96;
}
.card{
  background: #fff;
  width: calc(100vw  - 40px - 60px);
  height: auto;
  margin: 100px auto 0 auto;
  padding: 10px 20px;
  border-radius: 8px;
  border: 2px solid #182f5b;
  box-shadow: 4px 4px 0px #2273b5;
}
h1{
  text-align: center;
}
.pp{
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 100px;
  margin: 10px calc(50% - 50px);
  border: 4px solid #182f5b;
}
.text{
  background: white;
  color: black;
  width: calc(100% - 20px);
  border: 2px solid #182f5b;
  padding: 8px;
  border-radius: 4px;
}
.btn{
  background: #79ffa6;
  color: #000;
  width: 100%;
  border: 2px solid #182f5b;
  padding: 8px;
  border-radius: 4px;
}
.btn::disabled{
  border: #666;
  background: #aaa;
}
.content{
  padding: 40px 30px;
}
/*.reelsContainer {
  position: absolute;
  background: #fff;
  height: calc(100% - 1px);
  width: 100vw;
  display: flex;
  gap: 1px;
  overflow-x: hidden;
  flex-direction: column;
  scroll-snap-type: y mandatory;
  scrollbar-width: none;
}

.reelsContainer::-webkit-scrollbar {
  display: none;
}

.reel  {
  min-height: 100%;
  width: 100vw;
  background: #eee;
  color: #000;
  scroll-snap-align: start;
  text-align: center;
  font-size: 42px;
}*/
.ui{
  position: fixed;
  top: 0;
  left: 0;
}
.header{
  width: 100vw;
  height: 40px;
  background: white;
}
.persons{
  width: calc(100vw - 80px);
  height: calc(100vh - 120px);
  margin: 20px auto 0 auto;
  background: rgba(0,0,0,0.1);
}
#show{
  display: block;
}
#hide{
  display: none;
}
.navbar{
  position: fixed;
  bottom: 4px;
  width: calc(100% - 16px);
  background: rgba(16,16,32,0.1);
  height: 42px;
  margin: 8px;
  border-radius: 16px;
  overflow: hidden;
}
.text-chat{
  border: none;
  outline: none;
  width: calc(100% - 24px -  49px);
  height: calc(100% - 24px);
  margin: 4px;
  border-radius: 12px;
  background: rgba(32,48,64,0.1);
  padding: 8px;
  scrollbar-width: none;
  resize: none;
}
.text.chat::-webkit-scrollbar{
  display: none;
}
.send-chat{
  width: 45px;
  display: inline-block;
  top: -16px;
  position: relative;
}

@media (min-width: 800px){
  body{
    font-size: 18px;
  }
  h1{
    font-size: 34px;
  }
  button{
    font-size: 16px;
  }
  .card{
    width: 360px;
  }
}